﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content">
    <div class="chart-container">
        <h2>Total Sales Percentage by Store</h2>
        <div class="double-chart-container">
            <img src="@string.Format("/Chart/RenderClusterChart?clusterId={0}&procedure=pr_GetWeek13SalesByCluster", ViewBag.LocationId)" alt="Week 13 Sales" class="generated-chart" />
            <img src="@string.Format("/Chart/RenderClusterChart?clusterId={0}&procedure=pr_GetWeek52SalesByCluster", ViewBag.LocationId)" alt="Week 52 Sales" class="generated-chart" />
        </div>
    </div>

    <div class="chart-container">
        <h2>Total Volume Percentage by Store</h2>
        <div class="double-chart-container">
            <img src="@string.Format("/Chart/RenderClusterChart?clusterId={0}&procedure=pr_GetWeek13VolumeByCluster", ViewBag.LocationId)" alt="Week 13 Volume" class="generated-chart" />
            <img src="@string.Format("/Chart/RenderClusterChart?clusterId={0}&procedure=pr_GetWeek52VolumeByCluster", ViewBag.LocationId)" alt="Week 52 Volume" class="generated-chart" />
        </div>
    </div>

    <div class="chart-container">
        <h2>Average Profit Percentage by Store</h2>
        <div class="double-chart-container">
            <img src="@string.Format("/Chart/RenderClusterChart?clusterId={0}&procedure=pr_GetWeek13ProfitByCluster", ViewBag.LocationId)" alt="Week 13 Profit" class="generated-chart" />
            <img src="@string.Format("/Chart/RenderClusterChart?clusterId={0}&procedure=pr_GetWeek52ProfitByCluster", ViewBag.LocationId)" alt="Week 52 Profit" class="generated-chart" />
        </div>
    </div>
</div>