﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Store " + ViewBag.StoreId;
}

<div class="body-content">
    <div class="card-container">
        <div class="info-card sales" href="@Url.Action("StoreSalesChart", "Home", new { id = ViewBag.StoreId })">
            <i class="fas fa-money-bill-wave"></i>
            <div class="card-text">
                <span>£@ViewBag.TotalSales</span>
                Total Sales
            </div>
        </div>
        <div class="info-card volume" href="@Url.Action("StoreVolumeChart", "Home", new { id = ViewBag.StoreId })">
            <i class="fas fa-shopping-cart"></i>
            <div class="card-text">
                <span>@ViewBag.TotalVolume</span>
                Total Volume
            </div>
        </div>
        <div class="info-card profit" href="@Url.Action("StoreProfitChart", "Home", new { id = ViewBag.StoreId })">
            <i class="fas fa-chart-line"></i>
            <div class="card-text">
                <span>$@ViewBag.AverageProfit</span>
                Average Profits
            </div>
        </div>
    </div>

    <div class="chart-container">
        <h2>Total Sales per Bay</h2>
        <img src="@string.Format("/Chart/RenderStoreSalesChart?storeId={0}&floorName=ground", ViewBag.StoreId)" alt="total sales per bay" class="generated-chart" />
    </div>

    <div class="chart-container">
        <h2>Total Volume per Bay</h2>
        <img src="@string.Format("/Chart/RenderStoreVolumeChart?storeId={0}&floorName=ground", ViewBag.StoreId)" alt="total volume per bay" class="generated-chart" />
    </div>

    <div class="chart-container">
        <h2>Average per Bay</h2>
        <img src="@string.Format("/Chart/RenderStoreProfitChart?storeId={0}&floorName=ground", ViewBag.StoreId)" alt="total volume per bay" class="generated-chart" />
    </div>
</div>