﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CA Reflection</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="@Url.Action("Index", "Home")">
                    <h3>CA Reflection</h3>
                </a>
                <strong>CA</strong>
            </div>

            <ul class="list-unstyled">
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Store" ? "active" : "")">
                    <a href="#storeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
                        <i class="fas fa-store-alt"></i>
                        <span>By Store</span>
                    </a>
                    <ul class="collapse list-unstyled" id="storeSubmenu">
                        @foreach (var storeId in ViewBag.StoreIds)
                        {
                            <li>
                                <a href="@Url.Action("Store", "Home", new { id = storeId })">Store @storeId</a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Region" ? "active" : "")">
                    <a href="#regionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
                        <i class="fas fa-map-marked-alt"></i>
                        <span>By Region</span>
                    </a>
                    <ul class="collapse list-unstyled" id="regionSubmenu">
                        @foreach (var region in ViewBag.Regions)
                        {
                            <li>
                                <a href="@Url.Action("Region", "Home", new { id = region.Id })">@region.Name</a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Location" ? "active" : "")">
                    <a href="#locationSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
                        <i class="fas fa-location-arrow"></i>
                        <span>By Location</span>
                    </a>
                    <ul class="collapse list-unstyled" id="locationSubmenu">
                        @foreach (var location in ViewBag.Locations)
                        {
                            <li>
                                <a href="@Url.Action("Location", "Home", new { id = location.Id })">@location.Name</a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Size" ? "active" : "")">
                    <a href="#sizeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
                        <i class="fas fa-city"></i>
                        <span>By Size</span>
                    </a>
                    <ul class="collapse list-unstyled" id="sizeSubmenu">
                        @foreach (var size in ViewBag.Sizes)
                        {
                            <li>
                                <a href="@Url.Action("Size", "Home", new { id = size.Id })">@size.Name</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </nav>

        <div id="content">
            <nav id="topbar">
                <button type="button" id="sidebarCollapse">
                    <span><i class="fas fa-bars"></i></span>
                </button>
                <h2>@ViewBag.Title</h2>
            </nav>

            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/layout-script.js"></script>
</body>
</html>
