﻿body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 50px;
}

#home-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bcbccb;
    font-size: 3rem;
    margin-top: 20%;
}


/* Arrange content with flex */
.wrapper {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}

#content {
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #43425D;
    color: #fff;
    transition: all 0.3s;
}

#sidebar a{
    color: #fff;
    text-decoration: none;
}

/* Shrinking sidebar */
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar .sidebar-header {
    background: rgb(60, 59, 84);
    background: rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 23px 20px;
}

#sidebar.active .sidebar-header {
    padding: 20px;
}

#sidebar .sidebar-header h3 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.25em;
}

/* Toggling sidebar content */
#sidebar .sidebar-header strong {
    display: none;
}

#sidebar.active .sidebar-header h3 {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
    font-size: 1.25em;
}

#sidebar.active ul li a span {
    display: none;
}

#sidebar ul li{
    padding: 20px 25px;
}

#sidebar.active ul li {
    padding: 20px 20px;
}

#sidebar ul li a {
    text-align: left;
    font-size: 1.25em;
}

#sidebar.active ul li a {
    text-align: center;
    font-size: 0.85em;
}

#sidebar ul li a i {
    color: #a5a4bf;
    margin-right: 10px;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar ul li a:hover,
#sidebar ul li a:focus {
    text-decoration: none;
}

#sidebar ul li.active {
    border-left: 5px solid #a3a0fb;
    background: rgb(60, 59, 84);
    background: rgba(0, 0, 0, 0.1);
    padding: 20px 25px 20px 20px;
}

#sidebar.active ul li.active {
    padding: 20px 20px 20px 15px;
}

#sidebar ul li.active a i {
    color: #a3a0fb;
}

/* Dropdown links padding */
#sidebar ul ul li {
    padding: 10px 36px;
    font-size: 0.9em;
}

#sidebar.active ul ul li {
    padding: 10px 0;
}

#sidebar .dropdown-toggle::after {
    content: '\f0d8';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: 0.5em;
}

#sidebar .dropdown-toggle.collapsed::after {
    content: '\f0d7';
}

/* Changing arrow position */
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    margin: 0;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
}

#topbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(242, 242, 242);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 13px;
}

#topbar h2 {
    color: #43425d;
    font-size: 2.1em;
    font-weight: 700;
    margin: 0;
}

#sidebarCollapse {
    color: #bcbccb;
    font-size: 1.8em;
    background: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
}

/* Store view page */

.card-container {
    display: flex;
    justify-content: space-around;
}

.info-card {
    background: #fff;
    display: flex;
    align-items: center;
    width: 300px;
    border: 1px solid rgb(242, 242, 242);
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 25px 20px;
}

.info-card i {
    font-size: 2.5em;
    margin-right: 20px;
}

.info-card .card-text {
    color: #4d4f5c;
}

.info-card .card-text span {
    display: block;
    font-size: 1.4em;
    font-weight: 700;
}

.info-card.sales i,
.info-card.sales .card-text span {
    color: #56d9fe;
}

.info-card.volume i,
.info-card.volume .card-text span {
    color: #a3a0fb;
}

.info-card.profit i,
.info-card.profit .card-text span {
    color: #ff8373;
}

.chart-container {
    margin-top: 50px;
}

.chart-container h2 {
    color: #43425d;
    font-size: 1.6em;
    font-weight: 700;
    margin: 0 0 25px;
}

.chart-container .generated-chart {
    width: 100%;
}

.double-chart-container {
    display: flex;
}

.double-chart-container img {
    flex-basis: 50%;
    margin: 0 25px;
    height: 100%;
}